

.modal-body {
    height: calc(100vh - 20rem);
    overflow: auto;
}
.modal-body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.time-n-date {
    display: block;
    /* width: 100%; */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #e9ecef;
    opacity: 1;
}
label.btn.btn-outline-success {
    border-radius: 0px;
}
.modal-content {
    width: auto !important;
    margin: auto;
}
.modal-body {
    height: auto;
}