.select-appointments {
    margin-left: auto;
    display: flex;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.questions-container { 
    display: flex;
    flex-direction: column;
    /* height: 3rem; */
    gap: 0.5rem;
}
.questions-container:hover { 
    background: #9c9a9ab6;
}

.questions-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.questions-container > h6{ 
    margin-bottom: unset;
    margin-right: 1rem;
    width: 100%;
}


@media (min-width: 768px) {
    .row-form {
        display: flex;
        width: 100%;
        gap: 1rem;
        justify-content: center;
        align-items: center
    }
    .questions-container { 
        flex-direction: unset !important;
        align-items: center;
        gap: 0;
    }
    label {
        justify-content: center;
    }
}

.item-form {
    width: 100%;
}
  
.appointment-form-label {
    margin-bottom: 1rem;
}

label {
    margin: 0;
    display: flex !important;
    align-items: center;
    gap: 0.5rem;
}
input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
}


