.services-img {
    /* width: 50% !important; */
    min-width: unset;
}

.services-item {
}

.services-item-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media (min-width: 768px) {
    .services-item-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .services-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}